html {
      font-family: open sans;
      font-size: 20px;
}

#container {
    width: 900px;
    height: 618px;
    display: none;
    position: absolute;
    left: 242px;
    top: 172px;
    background-color: #fcfcfc;
    border: 2px solid black;
    /* z-index: 3; */
}

h2 {
    margin-top: 30px;
    margin-left: 88px;
}
.heading {
    position: absolute;
    left: 50px;
}
.question {
    position: relative;
    font-size: 25px;
    left: 50px;
    top: 100px;
}

.answer {
    display: block;
    top: 120px;
    left: 50px;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.answer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 5px;
    left: 0px;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.answer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.answer input:checked ~ .checkmark {
    border: 2px solid black;
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.answer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.answer .checkmark:after {
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;

}

.btn {
    border: none;
    border-radius: 8px;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    background-color: #A9D18E;
    position: absolute;
    cursor: pointer;
    top: 560px;
}
#seek {
    display: none;
    left: 50px;
}
#submit {
    left: 730px;
}
#resubmit {
    display: none;
    left: 730px;
}
#continue {
    display: none;
    left: 730px;
}
.btn:hover {
    background-color: #8ED068;
}

.incorrect {
    color: red;
}

.correct {
    color: green;
}

#feedbackA {
    display:none;
    padding-left: 50px;
    padding-right: 100px;
    background: #F2F2F2;
    position: absolute;
    top: 340px;
}

#feedbackB {
    display:none;
    padding-left: 50px;
    padding-right: 100px;
    background: #F2F2F2;
    position: absolute;
    top: 340px;
}

#feedbackC {
    display:none;
    padding-left: 50px;
    padding-right: 100px;
    background: #F2F2F2;
    position: absolute;
    top: 340px;
}

#feedbackD {
    display:none;
    padding-left: 50px;
    padding-right: 100px;
    background: #F2F2F2;
    position: absolute;
    top: 340px;
}